extends ../layout

block content
  div.page-info
    h1 #{family.name}

  div.list-container 
    if instrument_list.length
      each instrument in instrument_list
        div.list-entry
          a(href=instrument.url) 
            div.list-entry__inner
              div.list-entry__image
                img(src=instrument.image)
              div.list-entry__details
                p.list-entry__name #{instrument.name}
                p.list-entry__num-items Products: #{instrument.children}

    else
      p This family doesn't have any instruments.