extends ../layout

block content

  div.page-info
    h1= title
    div.page-info__details
      div.page-info__image
      div.page-info__inner
        div.page-info__description
          p #{product.description}
        div.page-info__children
          p Units: #{units.length}
        div.page-info__actions
          a(href=product.url+'/unit/create'): button.add Add unit
          a(href=product.url+'/update'): button.update Update
          a(href=product.url+'/delete'): button.delete Delete
          

  hr

  div.list-container 
    if units.length
      each unit in units
        div.list-entry
          a(href=unit.url) 
            div.list-entry__inner
              div.list-entry__details
                p.list-entry__name.list-entry__name--unit #[strong Unit:] #{unit._id}
                p.list-entry__price #[strong Price:] £#{unit.price}
                p.list-entry__condition #[strong Condition:] #{unit.condition}
                p.list-entry__location #[strong Location:] #{unit.location}

    else
      p This product doesn't have any units.  