extends ../layout

block content
  div.page-info
    h1= title

  div.list-container 
    if products.length
      each product in products
        div.list-entry
          a(href=product.url) 
            div.list-entry__inner
              div.list-entry__image
                img(src=product.image)
              div.list-entry__details
                p.list-entry__name #{product.name}
                p.list-entry__children Units: #{product.children}
                p.list-entry__family Instrument: #{product.instrument}

    else 
      h4 No products could be found!
  
