extends ../layout

block content
  div.page-info
    h1= title

  div.list-container 
    if instrument_list.length
      each instrument in instrument_list
        div.list-entry
          a(href=instrument.url) 
            div.list-entry__inner
              div.list-entry__image
                img(src=instrument.image)
              div.list-entry__details
                p.list-entry__name #{instrument.name}
                p.list-entry__num-items Products: #{instrument.children}
                p.list-entry__family Family: #{instrument.family}

    else 
      h4 No instruments could be found!
