extends ../layout

block content

  div.page-info
    h1= title
    div.page-info__details
      div.page-info__image
      div.page-info__inner
        div.page-info__children
          p Products: #{products.length}
        div.page-info__actions
          a(href=instrument.url+'/update'): button.update Update
          a(href=instrument.url+'/delete'): button.delete Delete

  hr

  div.list-container 
    if products.length
      each product in products
        div.list-entry
          a(href=product.url) 
            div.list-entry__inner
              div.list-entry__image
              div.list-entry__details
                p.list-entry__name #{product.name}
                p.list-entry__num-items Units: #{product.children}
    else
      p This product doesn't have any units. 