extends ../layout

block content
  div.page-info
    h1 #{title}: #{instrument.name}

  if products.length

    p #[strong Delete the following products before attempting to delete this instrument.]

    hr

    div.list-container 
      each product in products
        div.list-entry
          a(href=product.url) 
            div.list-entry__inner
              div.list-entry__image
                img(src=product.image)
              div.list-entry__details
                p.list-entry__name #{product.name}
                p.list-entry__num-items Units: #{product.children}

  else
    p Do you really want to delete this Instrument?

    form(method='POST' action='')
      div.form-group
        input#instrumentid.form-control(type='hidden', name='instrumentid', required='true', value=instrument._id )

      button.btn.btn-primary(type='submit') Delete